@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*CSS*/

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;

}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
}

#main{
    width:100%;
    height:100vh;
    position: relative;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgb(0,0,0,0.02);
    position: fixed;
    left: 0;
    top:0 ;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}

.logo img{
    height: 45px;
}

nav ul{
    display:flex;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585b5b;
    letter-spacing: 1px;
}

.hey{
    color:#AA6000;
    font-weight: 500;
    font-size: 0.9rem;
    border-bottom: 2px solid #FFA500;
}

nav ul li a:hover{
    background-color: #FFA500;
    color:#FFFFFF;
    box-shadow: 5px 10px 30px rgba(198, 129, 64, 0.3);
    transition: all ease 0.2s;
}

.model img{
   width:100%;
   height: 100%;
   object-fit: contain;
}

.model{
    width:500px;
    height:500px
}

.content{
    width: 90%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text{
    width: 500px;
}

.main-text h1{
    font-size: 3.5rem;
    color: #FFA500;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text p{
    color: #747474;
}

.portfolio-btn, 
.recent-btn,
.client-box a{
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #FFA500;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(163, 83, 8, 0.2);
}

.portfolio-btn:hover,
.recent-btn:hover,
.client-box a:hover,
.contact-input a:hover{
    background-color: #cf8c10;
    transition: all ease 0.2s;
}

#skills{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto auto 50px auto;
}

.skill-text{
    width:400px;
}

.skill-img{
    width: 600px;
    height: 600px;
}

.skill-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.skill-heading span{
    color: #806534;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;

}

.skill-heading h2{
    color: #FFA500;
    font-size: 3.3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}

.s-box-container{
    margin-top: 30px;
}

.skill-box{
    display:flex;
    margin:25px 0px;
}

.s-box-icon{
     margin-right: 12px;
}
.s-box-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    font-size: 1.1rem;
}

s.box-text strong{
    color: #FFA500;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: 600;
}

.s-box-text p{
    color: #747474;
    font-size: 0.9rem;
}

.fa-html5{
    color: #e06061;
}

.fa-css3-alt{
    color: #416cdf;
}

.fa-js-square{
    color: #f3f049;
}

#recent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 0px;
    flex-direction: column;
}

.recent-heading span,
.client-heading span{
    color:#806534;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.recent-heading h3,
.client-heading h3,
#contact h3{
    color:#FFA500;
    font-size: 3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}

.recent-img{
    margin:0px 40px;
}

.recent-img img{
    width: 100%;
    height: 100%;
}

.recent-btn{
    width: 190px;
    margin-top: 20px;
}

#client{
    width: 100%;
    border-top: 1px solid rgba(58,58,58,0.03);
    border-bottom: 1px solid rgba(58,58,58,0.03);
    padding: 50px 0px;
    background-image:url("#");
    background-position: center;
    background-size: 1000px;
}

.client-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.client-box{
    width: 310px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}

.client-box strong{
    color: #FFA500;
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px;
}

.star{
    display: flex;
    margin: 5px 0px 10px 0px;
}

.star i{
    color: #ff9529;

}

.client-box p{
    color: #747474;
    font-size: 0.9rem;
    margin: 0px;
    text-align: center;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.client-box a{
   width: 140px;
   margin-top: 20px;
   border-radius: 0px;
}

.client-box:hover{
    transform: translateY(-10px);
    box-shadow: 5px 10px 30px rgba(0,0,0,0.15);
    transition: all ease 0.2;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

#contact h3{
    font-size: 2.5rem;
    margin: 20px;
}

#contact img{
    height: 300px;
}

.contact-input{
    width:400px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.contact-input input{
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    text-align: center;
    color:#242425;
}

.contact-input a{
    width: 200px;
    height: 35px;
    background-color: #FFA500;
    color: #FFFFFF;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    border-radius: 20px;
    font-weight: 500;
}

footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(232,232,232, 0.5);
    background-color: #FFFFFF ;
}

footer p{
    margin: 15px 0px;
    color: #5f5f5f;
    font-size: 0.9rem;
}

/*
input{
    display: none;
}
*/

.jug{
    padding:0px;
    margin-right:-240px;
    display: none;
}

 .new-body{
        display: none;
    }

.big-header{
    margin-top: 100px;
}
/*Project Design*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin-top: 50px
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
}


/*CSS Media Queries*/

@media(max-width: 1140px){
    .content{
        width: 100%;
    }

    .model{
        width:400px;
        height: 400px
    }

    .main-text, .model{
        margin: 10px;
    }

    .main-text h1{
        font-size: 3rem;
    }

    .skill-img{
        width:400px;
        height: 400px;
    }

    .client-box{
        flex-grow: 0.5;
    }

     .new-body{
        display: none;
    }

}

@media(max-width: 900px){
    .old-body{
        display: none;
    }

    .new-body{
        display: block;
        font-size: 2.5rem;
    }

}



    


@media(max-width: 720px){
    .old-body{
        display: none;
    }

    .new-body{
        display: block;
         font-size: 2.5rem;
    }

}